## OPEN AI
OPENAI_ORG_ID = 'FIXME'
OPENAI_PROJECT_ID = 'FIXME'
OPENAI_API_KEY = 'FIXME'

## AZURE AI
AZURE_RESOURCE_NAME = 'FIXME'
AZURE_API_KEY = 'FIXME'

## SERP API
SERP_API_KEY = 'FIXME'

## xAI
XAI_API_KEY = 'FIXME'

## Groq API
GROQ_API_KEY = 'FIXME'

## Cohere API
CO_API_KEY = 'FIXME'

## POSTGRES
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="n8n"
POSTGRES_NON_ROOT_USER="user_postgres"
POSTGRES_NON_ROOT_PASSWORD="user_password"


## N8N
# Optional timezone to set which gets used by Cron-Node by default
# If not set New York time will be used
GENERIC_TIMEZONE=America/Los_Angeles
# N8N_BASIC_AUTH_ACTIVE=true
# N8N_BASIC_AUTH_USER=admin
# N8N_BASIC_AUTH_PASSWORD=strong_password
# N8N_AUTH_EXCLUDE_ENDPOINTS=healthz
# N8N_JWT_AUTH_HEADER=Authentication
# N8N_JWKS_URI=auth.example.com
N8N_ENCRYPTION_KEY=super-secret-key
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret